<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Auth failed</title>
  </head>
  <body>
    <div class="container">
      <h1>Unable to add what's my bg</h1>

      <p>Sorry, we were unable to add the what's my bg app</p>
      <p>Error: <%=error%></p>
    </div>
    <%- include ('partials/bodylast') %>
  </body>
</html>
