<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Success!</title>
  </head>
  <body>
    <div class="container">
      <h1>Success!</h1>

      <p>You've successfully added the what's my bg app. </p>
      <p>Your latest BG: <%=value%></p>

    </div>
    <%- include ('partials/bodylast') %>
  </body>
</html>
