<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>what's my bg App Install</title>
  </head>
  <body>
    <div class="container">
      <h1>Authorization</h1>
      <% if (!user) { %>
        <a href="/auth/google">Sign In with Google</a>
      <% } else if (!user.data.dexcom) { %>
        <a href=<%=dexcomAuthURL%>>Link Dexcom Account</a>
      <% } else { %>
        <a href="latest">What's My BG?</a>
      <% } %>
    </div>
    <%- include ('partials/bodylast') %>
  </body>
</html>
